SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS ON
GO
SET XACT_ABORT ON
GO
GO
PRINT N'Altering [dbo].[brands]'
GO
ALTER TABLE [dbo].[brands] ADD
[brand_category] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL CONSTRAINT [DF_brands_brand_category] DEFAULT ('None')
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
GO
